.App {
  text-align: center;
}

.Options {
  display: flexbox;
  flex-direction: column;
}

.Buttons {
  flex-direction: row;
}

/* Map the populate */
.Map {
  display: block;
  align-items: left;
  text-align: left;
  width: 100%;
  height: 80vh;
  background-color: black;
}

.not-selectable {
  /* Used for the objects that can be added for now. Won't interact with the mouse at all. */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
